.w-500{
    width:500px;
}

.br-0{
    border-radius:0px  !important;
}

.form-control,
.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ced4da;
  border-radius: 0px;

}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.wb-100{
    width:100px !important;
}

.wr-18{
    width:18rem;
}

.wr-22{
    width:22rem;
}


.wr-70{
    width:70rem;
}


.wr-75{
    width:75rem;
}


.wr-25{
    width:25rem;
}

.wb-120{
    width:120px !important;
}

.wb-200{
    width: 200px  !important;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button{ 
    -webkit-appearance:none; 
}

input[type="number"]{ 
    -moz-appearance:textfield; 
}

.wr-45{
    width:45rem;
}

.position-left-100{
    left:-100px !important;
}


.wr-65{
    width:65rem;
}


.wr-80{
    width:80rem;
}



.position-left-265{
    left:-265px !important;
}

.position-left-285{
    left:-285px !important;
}


.position-left-390{
    left:-390px !important;
}

.fa-1_5px{
    font-size: 22px;
}

.border-left-width-2{
    border-left-width: 2px !important;
}

.border-left-style-solid{
    border-left-style: solid !important;
}


.border-left-width-5{
    border-left-width: 5px !important;
}

.border-left-color-mediumorchid{
    border-left-color: mediumorchid !important;
}

.border-bottom-width-5{
    border-bottom-width: 5px !important;
}

.font-size-18px{
    font-size: 18px !important;
}

.display-none{
    display: none !important;
}

.visibility-hidden{
    visibility: hidden !important;
}

.w-1300{
    width:1300px !important;
}