{% extends "Base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
        
                    <div class="card wr-25 shadow mt-3 border-0" >
                        <div class="card-header text-center font-weight-bold">
                            <h4 class="card-title font-weight-bold p-0 mt-0 mb-0 text-primary">
                                Password Reset
                            </h4>
                        </div>
                  
                
                        {% if validlink %}
                            <div class="alert alert-info mb-0">
                                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                            </div>
                            {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-warning alert-dismissible shadow">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-warning alert-dismissible shadow">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                            <div class="card-body">
                                <form  method="post" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                            <label for="exampleInputPassword1" >New password</label>
                                            <input type="password" name="new_password1" required id="id_new_password1"  class="form-control"  placeholder="Enter New Password">
                                            <small id="passwordHelpInline" class="text-muted">
                                                    <ul>
                                                        <li>Your password can&#39;t be too similar to your other personal information.</li>
                                                        <li>Your password must contain at least 8 characters.</li>
                                                        <li>Your password can&#39;t be a commonly used password.</li>
                                                        <li>Your password can&#39;t be entirely numeric.</li>
                                                    </ul>
                                            </small>
                                        </div >
                                    
                                        <div class="form-group">
                                                <label for="exampleInputPassword2" >Confirm password</label>
                                                <input type="password" name="new_password2" required id="id_new_password2"  class="form-control"  placeholder="Enter Confirm Password">
                                            </div >
                                        
                                            <p class="text-center">
                                                <button type="submit" class="btn btn-primary br-0 wb-200" value="Change my password">Change my password</button>
                                            </p>
                                            
                                    
                                </form>
                            </div>
                        {% else %}
                        <div class="alert alert-danger mb-0">
                            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
                        </div>
                        {% endif %}

                    </div>

{% endblock content %}